<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Edit Ingredient Card</title>
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
	<div class="grid">
		
		<div class="block" id="pageHeader" 
				style="display: flex; align-items: center; justify-content: end;">
			<form th:if="${isLoggedIn}" method="get" th:action="@{/logout}">
				<button>Выйти из приложения</button>
			</form>
			
			<form th:if="${not isLoggedIn}" method="get" th:action="@{/auth}">
				<button>Войти в приложение</button>
			</form>
		</div>
		
		<div class="areaForData" id="dataArea">
			<h2>Изменение существующего ингредиента</h2>
			
			<form th:object="${recipe}">
				<p style="font-size: 110%"><b>Текущий рецепт</b></p>
				
				<label for="id">Id:</label>
				<input style="margin-right: 10px;" size="10" 
						class="readonlyField" readonly type="text" th:field="*{id}">
				
				<label for="name">Название:</label>
				<input class="readonlyField" readonly type="text" th:field="*{name}">
				<br><br>
			</form>
			
			<hr> <!-- Разделительная линия -->
			
			<form th:method="put" th:action="@{/ingredients}" th:object="${ingredient}">
				<p style="font-size: 110%"><b>Изменяемый ингредиент</b></p>
				
				<label for="id">Id........................:</label>
				<input class="readonlyField" readonly type="text" th:field="*{id}">
				<br><br>
				
				<label for="name">Название............:</label>
				<input type="text" th:field="*{name}" style="margin-right: 220px;">
				<!-- -------------------------------------- -->
				<input type="text" th:value="${oldName}"
					   class="readonlyField" readonly>
				<!-- -------------------------------------- -->
				<div style="color:red" 
					th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}">Error text</div>
				<br><br>
				
				<button>Изменить ингредиент</button>
			</form>
		</div>
		
		<div class="block" id="serviceArea">
			<br><br><b><a th:href="@{/ingredients}">Вернуться в ингредиенты ...</a></b>
			<br><br><b><a th:href="@{/recipes}">Вернуться в рецепты ...</a></b>
		</div>
		
		<div class="block" id="pageFooter"></div>
		
	</div>
</body>

</html>