<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Ingredient Card</title>
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
	<div class="grid">
		
		<div class="block" id="pageHeader" 
				style="display: flex; align-items: center; justify-content: end;">
			<form th:if="${isLoggedIn}" method="get" th:action="@{/logout}">
				<button>Выйти из приложения</button>
			</form>
			
			<form th:if="${not isLoggedIn}" method="get" th:action="@{/auth}">
				<button>Войти в приложение</button>
			</form>
		</div>
		
		<div class="areaForData" id="dataArea">
			<h2>Карточка ингредиента</h2>
			<table border="2" cellpadding="5">
				<tr>
					<th align="right">Id</th>
					<td th:text="${ingredient.getId()}">
				</tr>
				<tr>
					<th align="right">Название</th>
					<td th:text="${ingredient.getName()}">
				</tr>
				<tr>
					<td align="right" colspan="2"> 
						<a th:href="@{/ingredients}">Вернуться</a> </td>
				</tr>
			</table>
		</div>
		
		<div class="block" id="serviceArea">
			<br><br><b><a th:href="@{/ingredients}">Вернуться в ингредиенты ...</a></b>
			<br><br><b><a th:href="@{/recipes}">Вернуться в рецепты ...</a></b>
		</div>
		
		<div class="block" id="pageFooter"></div>
		
	</div>
</body>

</html>