<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Recipe Card</title>
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
	<div class="grid">
		
		<div class="block" id="pageHeader" 
				style="display: flex; align-items: center; justify-content: end;">
			<form th:if="${isLoggedIn}" method="get" th:action="@{/logout}">
				<button>Выйти из приложения</button>
			</form>
			
			<form th:if="${not isLoggedIn}" method="get" th:action="@{/auth}">
				<button>Войти в приложение</button>
			</form>
		</div>
		
		<div class="areaForData" id="dataArea">
			<h2>Карточка рецепта</h2>
			
			<form th:object="${recipe}">
				<p style="font-size: 110%"><b>Текущий рецепт</b></p>
				
				<label for="id">Id......................:</label>
				<input style="margin-right: 10px;" size="10" 
						class="readonlyField" readonly type="text" th:field="*{id}">
				<br><br>
				
				<label for="name">Название.........:</label>
				<input class="readonlyField" readonly type="text" th:field="*{name}">
				<br><br>
				
				<label for="description" style="vertical-align: top;">Описание........:</label>
				<textarea class="readonlyField" disabled 
							rows="4" cols="50" th:field="*{description}"></textarea>
				<br><br>
				
				<!-- Поддержка изображений -->
				<img th:src="@{/recipes/{id}/image(id=*{id})}" alt="Recipe Image" width="150" height="200">
				<br><br>
				
			</form>
			
			<form th:method="get" th:action="@{/recipes}">
				<button>Вернуться</button>
			</form>
			
			<!-- Поддержка изображений -->
			<form th:method="get" th:action="@{/recipes/{id}/download(id=*{id})}">
				<button>Скачать изображение</button>
			</form>
		</div>
		
		<div class="block" id="serviceArea">
			<br><br><b><a th:href="@{/recipes}">Вернуться в рецепты ...</a></b>
		</div>
		
		<div class="block" id="pageFooter"></div>
		
	</div>
</body>

</html>